@import '../../sass/utils/variables';
.results {
  align-items: flex-start;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10rem;
  margin-top: 15rem;

  &__paragraph {
    @include text-sm;
    display: flex;
    justify-content: center;
    max-width: 30%;
  }

  &__items {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 30%;
  }

  &__answer {
    align-items: center;
    background-color: $color--coral;
    border-radius: 8px;
    display: flex;
    height: 7rem;
    justify-content: center;
    margin-bottom: -1.5rem;
  }

  &__words {
    margin-left: 1rem;
    margin-top: 1rem;
  }
}
