@import '../../sass/utils/variables';
.homepage {
  background-image: linear-gradient(to bottom right, #39adb7, #18184c);
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
  }
  &__title {
    @include text-lg;
    font-weight: $font-weight--bold;
    color: $color--white;
    margin-bottom: 5rem;
  }
  &__subtitle {
    @include text-xs;
    color: $color--white;
    margin-bottom: 10rem;
  }
}
