@import '../../sass/utils/variables';

.cardbackground {
  align-items: center;
  border-radius: 8px;
  display: flex;
  height: 10rem;
  justify-content: center;
  width: 7rem;
  &--red {
    background-color: $color--amaranth;
  }
  &--blue {
    background-color: $color--oyster-bay;
  }
}
