@import './utils/variables';

html {
  font-size: 62.5%; // 1 rem = 10px; 10px/16px - 62.5%
}

body {
  @include text-sm;
  font-family: $font-family--primary;
  font-weight: $font-weight--medium;
  line-height: $font-height--xs;
  color: $color--dusk;
}
