@import '../utils/variables';

h1,
h2,
h3,
p {
  line-height: $font-height--md;
}

h1,
h2,
h3 {
  font-weight: $font-weight--bold;
}

h1 {
  @include text-xl;
}

h2 {
  @include text-lg;
}

h3 {
  @include text-md;
}

p {
  @include text-sm;
}

button {
  @include text-xs;
  font-weight: $font-weight--medium;
}
