@import '../../sass/utils/variables';

.button {
  border: 0;
  border-radius: 5rem;
  display: inline-block;
  height: 60px;
  text-align: center;
  text-decoration: none;
  width: 180px;

  &:disabled {
    opacity: 40%;
  }

  &--primary {
    background-color: $color--amaranth;
    color: $color--white;
  }

  &--secondary {
    background-color: $color--quartz;
    color: $color--dusk;
  }

  &__text {
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    &--margin {
      margin-right: 1rem;
    }
  }
}
