@import '../../sass/utils/variables';

.github {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  &__tooltip {
    &-enter {
      opacity: 0;
    }
    &-enter-active {
      opacity: 1;
      transition: opacity 300ms;
    }
    &-exit {
      opacity: 1;
    }
    &-exit-active {
      opacity: 0;
      transition: opacity 300ms;
    }
  }

  &__link {
    filter: opacity(100%);
    transition: all 300ms;
    &:hover {
      filter: opacity(80%);
    }
    &:focus {
      filter: opacity(80%);
    }
  }

  &__text {
    @include text-xs;
    color: $color--dusk;
    font-weight: $font-weight--bold;
  }

  &:hover {
    cursor: pointer;
  }
}
