$color--coral: #df677b;
$color--amaranth: #da2f4c;
$color--oyster-bay: #d6f4f6;
$color--sea-foam: #39adb7;
$color--ghost-white: #f4f4f8;
$color--quartz: #dedee8;
$color--logan: #a2a2b6;
$color--dusk: #46466d;
$color--paua: #18184c;
$color--teal: #39adb7;
$color--white: #fff;
$color--lavendar: #e9e9ef;
