@import '../../sass/utils/variables';

.accuracy {
  align-items: center;
  color: $color--white;
  display: flex;
  flex-direction: column;
  position: relative;

  &__circle {
    display: block;
    width: 63rem;
    path:not(:first-child) {
      transition: stroke-dashoffset 3s linear;
    }
  }

  &__inside {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 200px;

    &__subtitle {
      margin-top: 1rem;
    }
  }

  &__score {
    @include score;
  }
}
