@import '../../sass/utils/variables';

.timer {
  color: $color--dusk;
  text-align: right;

  &__label {
    font-size: 2rem;
    font-weight: 700;
  }

  &__digits {
    font-size: 6rem;
    font-weight: 300;
  }
}
