@import '../../sass/utils/variables';

.timer {
  color: $color--dusk;
  line-height: $font-height--sm;
  text-align: right;

  &__label {
    @include text-sm;
    font-weight: $font-weight--bold;
  }

  &__digits {
    @include text-xl;
    font-weight: $font-weight--regular;
  }
}
