@import '../../sass/utils/variables';

.instructions {
  display: flex;
  justify-content: center;
  margin-bottom: 8rem;
  margin-top: 4rem;
}

.test {
  &__buttons {
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    &--start {
      margin-right: 3rem;
    }
  }
}
