.scaffold {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 8rem auto;
    max-width: 120rem;
    width: 100%;
  }

  &__main {
    flex: 1;
  }

  &__footer {
    display: flex;
    justify-content: center;
    margin: 0 auto 8rem;
    max-width: 120rem;
  }
}
